

.caixa{
	border: 1px solid red;
}
.comporta{
	width: auto;
	height: auto;
}

.form-menu{
	padding-right: 0px;
	margin-right: 0;
	float: right;
}

.cols{
	margin-top: 40px;
}
#menu{
	background-color: #020706;
	height: 200px;
}

#menu ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	list-style:none;
	display: inline; 
}

#menu ul li { 
	display: inline; 
}
 
#menu ul li a {
	color: #ba9b3e;
	padding: 2px 10px;
	float:left;
}

#divBusca{
	color: #ba9b3e;	
	background-color: transparent;
	border:solid 1px;
	border-color: #ba9b3e;
	border-radius:15px;
	width:300px;
}

#txtBusca{
	color: #ba9b3e;
	float:left;
	background-color:transparent;
	padding-left:5px;
	font-style:italic;
	font-size:18px;
	border:none;
	height:32px;
	width:260px;
}

#maisvendios h1{
	text-align: center;
	color: #ba9b3e;
	border-bottom: 1px solid #ba9b3e
}

.card {
	margin-right: 5px;
	margin-bottom: 10px;
}

#rodape{
	background-color: #020706;
	height: 200px; 
}
#rodape h3{
	text-align: center;
	color: #ba9b3e;
}
#rodape p{
	text-align: center;
	color: #ba9b3e;
	font-size: 12px;
}

